<!-- <div style="padding: 0px;">
<div style="display: table; width: 100%;">
<div style="width:100%; display: inline-block; float: right;">
<img src="<%= logoPath %>" width="200" align="left">
<img src="<%= qrURL %>" width="120" align="right">
</div>
</div>
<div style="display: flex;  margin-top: 10px; width: 100%;">
		<div style="width: 100%; display: inline-block;">
			<div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:14px; width: 100%; text-align:center; display: inline-block;"><strong><u>ANNUAL MAINTENANCE CONTRACT (AMC) IN BETWEEN</u></strong></div>
		</div>
	</div>
	
	
<div style="display: table;  margin-top: 10px; width: 100%;">
<div style="width:100%; border:1px solid #000; display: table; float: left;">	
<div style="width:100%; display: table; float: left;">
<div style="width:30%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><strong>COMPANY NAME : </strong></div>
<div style="width:67%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><%= companyName %></div>
</div>
<div style="width:100%; border-top:1px solid #000; display: table; float: left;">
<div style="width:30%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><strong>Customer Name : </strong></div>
<div style="width:67%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><%= customerName %></div>
</div>
<div style="width:100%; border-top:1px solid #000; display: table; float: left;">
<div style="width:30%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><strong>CUSTOMER CODE : </strong></div>
<div style="width:67%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><%= customerCode %></div>
</div>
<div style="width:100%; border-top:1px solid #000; display: table; float: left;">
<div style="width:30%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><strong>ADDRESS : </strong></div>
<div style="width:67%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><%= address %></div>
</div>
<div style="width:100%; border-top:1px solid #000; display: table; float: left;">
<div style="width:30%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><strong>MODEL : </strong></div>
<div style="width:67%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><%= model %></div>
</div>
<div style="width:100%; border-top:1px solid #000; display: table; float: left;">
<div style="width:30%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><strong>SR NO. : </strong></div>
<div style="width:67%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><%= serialNumber %></div>
</div>
<div style="width:100%; border-top:1px solid #000; display: table; float: left;">
<div style="width:30%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><strong>VALID FROM DATE : </strong></div>
<div style="width:67%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><%= fromDate %> TO <%= toDate %></div>
</div>
<div style="width:100%; border-top:1px solid #000; display: table; float: left;">
<div style="width:100%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;">
<div style="width:50%; padding:0px; border:1px solid #000; display: table; float: left;">
<div style="width:60%; padding:5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; color: #000;">One year contract</div>
<div style="width:25%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px;  color: #000;"><%= amcAmount %></div>
</div>
<div style="width:50%; padding:0px; border:1px solid #000; display: table; float: left;">
<div style="width:60%; padding:5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; color: #000;">+ GST @ 18%</div>
<div style="width:25%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px;  color: #000;"><%= gstAmount %></div>
</div>
<div style="width:50%; padding:0px; border:1px solid #000; display: table; float: left;">
<div style="width:60%; padding:5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; color: #000;">Total</div>
<div style="width:25%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px;  color: #000;">Rs. <%= totalAmount %></div>
</div>
</div>
</div>
<div style="width:100%; border-top:1px solid #000; display: table; float: left;">
<div style="width:98%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><strong>FOR NI SERVICE ENGINEERING PVT.LTD.</strong></div>
</div>
<div style="width:100%; display: table; float: left;">
<div style="width:45%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><img src="<%= sign %>" width="100px" />
<br/><strong>SERVICE MANAGER</strong></div>
<div style="width:45%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"></div>
</div>
</div>
</div>
<div style="display: flex;  margin-top: 10px; width: 100%;">
		<div style="width: 50%; display: inline-block;">
			<div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; width: 100%; display: inline-block;">Office No.18, 2nd Floor, GNP Galleria, MIDC Road, Dombivli (E) 421 302.<br/>
Tel No.: 9892151843<br/>
email : service@niserviceeng.com<Br/>
Website : www.niserviceeng.com<br/>
GSTIN No. 27AAICN9534D1ZA</div>
		</div>
		<div style="width: 50%; display: inline-block;">
			<div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:12px; width: 100%; text-align:center; display: inline-block;"><img src="<%= stamp %>" width="120px" /></div>
		</div>
	</div> -->

	<div style="padding: 0px;">
		<div style="display: table; width: 100%;">
		<div style="width:100%; display: inline-block; padding-bottom:30px; float: right;">
		<div style="width:80%; padding:5px; float: left;"><img src="<%= logoPath %>" width="100%" align="left"></div>
		<div style="width:15%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><img src="<%= qrURL %>" width="80%" align="right"></div>
		</div>
		</div>
		</div>
		<div style="display: flex; margin-bottom:20px; margin-top: 10px; width: 100%;">
				<div style="width: 100%; display: inline-block;">
					<div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; width: 100%; text-align:center; display: inline-block;"><strong><u>ANNUAL MAINTENANCE CONTRACT (AMC)</u></strong></div>
				</div>
			</div>
			
			
		<div style="display: table;  margin-top: 10px; width: 100%;">
		<div style="width:100%; display: table; float: left;">	
		<!-- <div style="width:100%; display: table; float: left;">
		<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><strong>COMPANY NAME : </strong></div>
		<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= companyName %></div>
		</div> -->
		<div style="width:100%; display: table; float: left;">
		<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><strong>Customer Name : </strong></div>
		<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= customerName %></div>
		</div>
		<div style="width:100%; display: table; float: left;">
		<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><strong>CUSTOMER CODE : </strong></div>
		<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= customerCode %></div>
		</div>
		<div style="width:100%; display: table; float: left;">
		<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><strong>ADDRESS : </strong></div>
		<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= address %></div>
		</div>
		<div style="width:100%; display: table; float: left;">
		<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><strong>MODEL : </strong></div>
		<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= model %></div>
		</div>
		<div style="width:100%; display: table; float: left;">
		<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><strong>SR NO. : </strong></div>
		<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= serialNumber %></div>
		</div>
		<div style="width:100%; display: table; float: left;">
		<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><strong>VALID FROM DATE : </strong></div>
		<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= fromDate %> TO <%= toDate %></div>
		</div>
		<div style="width:100%; display: table; float: left;">
		<div style="width:100%; padding:10px 5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;">
		<div style="width:50%; padding:0px; border:1px solid #000; display: table; float: left;">
		<div style="width:60%; padding:10px 5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; color: #000;">One year contract</div>
		<div style="width:25%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; color: #000;"><%= amcAmount %></div>
		</div>
		<div style="width:50%; padding:0px; border:1px solid #000; display: table; float: left;">
		<div style="width:60%; padding:10px 5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; color: #000;">+ GST @ 18%</div>
		<div style="width:25%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px;  color: #000;"><%= gstAmount %></div>
		</div>
		<div style="width:50%; padding:0px; border:1px solid #000; display: table; float: left;">
		<div style="width:60%; padding:10px 5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; color: #000;">Total</div>
		<div style="width:25%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px;  color: #000;">Rs. <%= totalAmount %></div>
		</div>
		</div>
		</div>
		<div style="width:100%; display: table; float: left;">
		<div style="width:98%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><strong>FOR NI SERVICE ENGINEERING PVT.LTD.</strong></div>
		</div>
		<div style="width:100%; display: table; float: left;">
		<div style="width:45%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><img src="<%= sign %>" width="100px" />
		<br/><br/><strong>SERVICE MANAGER</strong></div>
		<div style="width:45%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"></div>
		</div>
		</div>
		</div>
		<div style="display: flex;  margin-top: 10px; width: 100%;">
				<div style="width: 50%; display: inline-block;">
					<div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:24px; width: 100%; display: inline-block;">Office No.18, 2nd Floor, GNP Galleria, MIDC Road, Dombivli (E) 421 302.<br/>
		Tel No.: 9892151843<br/>
		email : service@niserviceeng.com<Br/>
		Website : www.niserviceeng.com<br/>
		GSTIN No. 27AAICN9534D1ZA</div>
				</div>
				<div style="width: 50%; display: inline-block;">
					<div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; width: 100%; text-align:center; display: inline-block;"><img src="<%= stamp %>" width="120px" /></div>
				</div>
			</div>