<div style="padding: 0px;">
	<div style="display: table; width: 100%;">
	<div style="width:100%; display: inline-block; padding-bottom:30px; float: right;">
	<div style="width:20%; padding:5px; float: left;"><img src="<%= logoPath %>" width="100%" align="left"></div>
	<div style="width:55%; padding:5px; float: left;margin-top: 40px;"><strong style="color: green; font-family: 'Arial', Arial, sans-serif; font-size:24px; line-height:100px;">NI Service Engineering Pvt. Ltd.</strong></div>
	<div style="width:20%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:12px; line-height:18px; color: #000;"><img src="<%= qrURL %>" width="80%" align="right"></div>
	</div>
	</div>
	</div>
	<div style="display: flex; margin-bottom:20px; margin-top: 10px; width: 100%;">
			<div style="width: 100%; display: inline-block;">
				<div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; width: 100%; text-align:center; display: inline-block;"><strong><u>ANNUAL MAINTENANCE CONTRACT</u></strong></div>
			</div>
		</div>
		
		
	<div style="display: table;  margin-top: 10px; width: 100%;">
	<div style="width:100%; display: table; float: left;">	
	<!-- <div style="width:100%; display: table; float: left;">
	<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><strong>COMPANY NAME : </strong></div>
	<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;">NI SERVICES ENGINEERING PVT.LTD.</div>
	</div> -->
	<div style="width:100%; display: table; float: left;">
	<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; line-height:18px; color: #000;"><strong>CUSTOMER NAME : </strong></div>
	<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= customerName %></div>
	</div>
	<div style="width:100%; display: table; float: left;">
	<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; line-height:18px; color: #000;"><strong>CUSTOMER CODE : </strong></div>
	<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= customerCode %></div>
	</div>
	<div style="width:100%; display: table; float: left;">
	<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; line-height:18px; color: #000;"><strong>ADDRESS : </strong></div>
	<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= address %></div>
	</div>
	<div style="width:100%; display: table; float: left;">
	<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; line-height:18px; color: #000;"><strong>MODEL : </strong></div>
	<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= model %></div>
	</div>
	<div style="width:100%; display: table; float: left;">
	<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; line-height:18px; color: #000;"><strong>SR NO. : </strong></div>
	<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= serialNumber %></div>
	</div>
	<div style="width:100%; display: table; float: left;">
	<div style="width:30%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; line-height:18px; color: #000;"><strong>VALID FROM DATE : </strong></div>
	<div style="width:67%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><%= fromDate %> TO <%= toDate %></div>
	</div>
	<div style="width:100%; display: table; float: left;">
	<div style="width:100%; padding:10px 5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;">
	<div style="width:50%; padding:0px; border:1px solid #000; display: table; float: left;">
	<div style="width:60%; padding:10px 5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; color: #000;">One year contract</div>
	<div style="width:25%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px; color: #000;"><%= amcAmount %></div>
	</div>
	<div style="width:50%; padding:0px; border:1px solid #000; display: table; float: left;">
	<div style="width:60%; padding:10px 5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; color: #000;">+ GST @ 18%</div>
	<div style="width:25%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px;  color: #000;"><%= gstAmount %></div>
	</div>
	<div style="width:50%; padding:0px; border:1px solid #000; display: table; float: left;">
	<div style="width:60%; padding:10px 5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:18px; color: #000;">Total</div>
	<div style="width:25%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:15px;  color: #000;">Rs. <%= totalAmount %></div>
	</div>
	</div>
	</div>
	<div style="width:100%; display: table; float: left;">
	<div style="width:98%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><strong>FOR NI SERVICE ENGINEERING PVT.LTD.</strong></div>
	</div>
	<div style="width:100%; display: table; float: left;">
	<div style="width:45%; padding:10px 5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:18px; color: #000;"><img src="<%= sign %>" width="100px" />
	<br/><br/><strong>SERVICE MANAGER</strong><br/>
	
	<div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:15px; line-height:24px; width: 100%; display: inline-block;">Office No.18, 2nd Floor, GNP Galleria, MIDC Road, Dombivli (E) 421 302.<br/>
	Tel No.: 9892151843<br/>
	Email : service@niserviceeng.com<Br/>
	Website : www.niserviceeng.com<br/>
	GSTIN No. 27AAICN9534D1ZA</div>
	</div>
	<div style="width:45%; padding:10px 5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:20px; line-height:18px; color: #000;"><img src="<%= stamp %>" style="float:right;" width="120px" /></div>
	</div>
	</div>
	</div>