<div style="padding: 0px;">
    <div style="display: table; width: 100%;">
    <div style="width:100%; display: inline-block; float: right;">
    <img src="<%= logoPath %>" width="120" align="right">
    </div>
    </div>
    
    <div style="display: table;  margin-top: 12px; width: 100%;">
        <div style="width: 25%; display: inline-block;">
        <div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; width: 100%; text-align:left; display: inline-block;">SR. No : <%= serialNumber %></div>
          
        </div>
        <div style="width: 50%; display: inline-block;">
          <div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; width: 100%; text-align:center; display: inline-block;"><strong><u>CALIBRATION CERTIFICATE</u></strong></div>
        </div>
        <div style="width: 25%; display: inline-block;">
          <div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; width: 100%; text-align:right; display: inline-block;">Date : <%= issueDate %></div>
        </div>
      </div>
      
    <div style="display: table;  margin-top: 10px; width: 100%;">
    <div style="width:100%; border:1px solid #000; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">1</div>
    <div style="width:90%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;"><strong><u>COMPONENT :</u></strong> <br/>PUC EQUIPMENT MODEL No. <b><%= modelNumber %><br/>
    PUC ECQUIPMENT SR. NO. : <%= machineNumber %></div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">2</div>
    <div style="width:90%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;"><strong><u>PUC CENTRE :</u></strong> <%= centerName %>, <%= city %> , <%= state %> <br> 
    PUC REGISTRATION NO.</div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">3</div>
    <div style="width:90%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;"><strong><u>OBJECTIVE OF THE TEST :</u></strong> To carry out Physical Check and calibration of Smoke Meter Analyser as per the test procedure specified in Annexure 1of CMVRTAP 115-116 Part -8</div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">4</div>
    <div style="width:90%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;"><strong><u>DETAILED OBSERVATIONS :</u></strong>Ok</div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">4.1</div>
    <div style="width:90%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;"><strong><u>CHECKING OF SUPPLY / EARTHING :</u>  </strong>Ok</div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">4.2</div>
    <div style="width:90%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">
    <div style="width:100%; display: table; float: left;">
    <div style="width:35%; display: inline-block; font-family: 'Arial', Arial, sans-serif; font-size:10px; float: left;"><strong><u>CHECKING OF ASSESORIES :</u></strong></div>
    <div style="width:30%; display: inline-block; font-family: 'Arial', Arial, sans-serif; font-size:10px; float: left;"><span style="width:60px; float:left; text-align:center;">CHECKED</span> <span style="width:50px; float:left; text-align:center; border:1px solid;"><img src="<%= checked %>" style="height: 20px;"/></span></div>
    <!-- <div style="width:35%; display: inline-block; font-family: 'Arial', Arial, sans-serif; font-size:10px; float: left;"><span style="width:80px; float:left; text-align:center;">NOT CHECKED</span> <span style="width:50px; float:left; text-align:center; border:1px solid;"><img src="<%= unChecked %>" style="height: 20px;"/></span></div> -->
    </div>
    <!-- <div style="width:100%; display: table; float: left;">
    <div style="width:45%; margin:0 5% 0 0;  display: inline-block; font-family: 'Arial', Arial, sans-serif; font-size:10px; float: left;">
    <div style="text-align:center;"><strong><%= modelNumber %></strong></div>
    <div style="width:100%; padding:0px; border:1px solid #000; display: table; float: left;">
    <div style="width:65%; padding:5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">1. PROBE ASSEMBLY</div>
    <div style="width:20%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px;  color: #000;">Ok</div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:65%; padding:5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">2. AIRMATIC FILTER</div>
    <div style="width:20%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">Ok</div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:65%; padding:5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">3. DUST FILTER</div>
    <div style="width:20%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">Ok</div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:65%; padding:5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">4. PICKUP PROBE FILTER</div>
    <div style="width:20%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">Ok</div>
    </div>
    </div>
    <div style="width:45%; margin:4% 5% 0 0;  display: inline-block; font-family: 'Arial', Arial, sans-serif; font-size:10px; float: left;">
    <div style="text-align:center;"><strong><%= modelNumber %></strong></div>
    <div style="width:100%; padding:0px; border:1px solid #000; display: table; float: left;">
    <div style="width:65%; padding:5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">1. PROBE ASSEMBLY</div>
    <div style="width:20%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px;  color: #000;">Ok</div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:65%; padding:5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">2. ND FILTER </div>
    <div style="width:20%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">Ok</div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:65%; padding:5px; float: left;  border-right:1px solid #000; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">3. HOSE PIPE</div>
    <div style="width:20%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">Ok</div>
    </div>
    </div>
    </div> -->
    </div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">4.3</div>
    <div style="width:90%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;"><strong><u>SPAN CALIBRATION :</u></strong><br/>
    <div style="width:100%; display: table; float: left;">
    <div style="width:40%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; text-align:right; color: #000;">DETAILS OF SPAN CALIBRATION CO: </div>
    <div style="width:10%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; text-align:center; font-size:10px; color: #000;"><div style="border-bottom:1px solid;"><%= coValue %></div></div>
    <div style="width:10%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">% AND</div>
    <div style="width:10%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; font-size:10px; text-align:right; color: #000;">HC</div>
    <div style="width:15%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; text-align:center; font-size:10px; color: #000;"><div style="border-bottom:1px solid;"><%= hcValue %> </div></div>
    <!-- <div style="width:10%; padding:5px; display: inline-block; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">PPM</div> -->
    </div>
    <div style="width:100%; display: table; float: left;">
    <div style="width:40%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; text-align:right; color: #000;">CO2:</div>
    <div style="width:10%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; text-align:center; font-size:10px; color: #000;"><div style="border-bottom:1px solid;"><%= co2Value %></div></div>
    <div style="width:10%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">% AND</div>
    <div style="width:10%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; font-size:10px; text-align:right; color: #000;">O2</div>
    <div style="width:10%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; text-align:center; font-size:10px; color: #000;"><div style="border-bottom:1px solid;">-</div></div>
    </div>
    <div style="width:90%; padding:5px; display: table; float: left; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; color: #000;">
      * CALIBRATION GAs CYLINDER NO. :  <b><%= cylinderNumber %></b>  <br/>
      * CALIBRATION GAS CYLINDER MAKE :  <b><%= cylinderMake %></b>  <br/>
      * CALIBRATION GAS VALIDITY DATE :   <b><%= validityDate %></b> <br/>
      OR <br/>
      * DETAIL OF <strong>NATUREL DENSITY FILTER</strong> USED FOR MID POINT CALIBRATION :  <b>K = 2.80</b>
    </div>
    </div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">4.4</div>
    <div style="width:90%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">ELECTRICAL CALIBRATION AGAINST SPAN GAS CALIBRATION VALUE : <strong>OK</strong></div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">4.5</div>
    <div style="width:90%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">LEAK TEST : <strong>PASS</strong></div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">4.6</div>
    <div style="width:90%; padding:5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;"><strong>VEHICLE TESTEDAFTER CALIBRATION :</strong> <BR/>ONE No. OF PETROL VEHICLE CHECKED WITH IDLING EMISSION</div>
    </div>	
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">5</div>
    <div style="width:90%; padding:0px 5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">
    <div style="width:100%; display: table; float: left;">
    <div style="width:40%; padding:5px 0px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; text-align:l; border-right:1px solid #000; color: #000;"><strong>CONCLUSION :</strong></div>
    <div style="width:50%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; text-align:center; font-size:10px; color: #000;">Tested Found OK</div>
    </div>
    </div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:4%; padding:5px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">6</div>
    <div style="width:90%; padding:0px 5px; display: inline-block; border-left:1px solid #000; float: right; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">
    <div style="width:100%; display: table; float: left;">
    <div style="width:40%; padding:5px 0px; float: left; display: inline-block; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; text-align:l; border-right:1px solid #000; color: #000;"><strong>NEXT CALIBRATION DUE DATE :</strong></div>
    <div style="width:50%; padding:5px; display: inline-block; float: left; font-family: 'Arial', Arial, sans-serif; text-align:center; font-size:10px; color: #000;"><%= nextCalibrationDate %></div>
    </div>
    </div>
    </div>
    </div>
    <div style="display: table; width: 100%;">
    <div style="width:100%; display: inline-block; float: right; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; line-height:12px;; color: #000;">
    SIGNATURE AND SEAL OF MFA JR SUPPLIER <img src="<%= sign %>" style="height: 30px;"/> <img src="<%= stamp %>" width="50" style="position: relative; bottom: -15px;"/>
    </div>
    </div>
    <HR></HR>
    <div style="display: table;  margin-top: 5px; width: 100%;">
        <div style="width: 30%; float:left; display: inline-block;">
        <div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; width: 100%; text-align:left; display: inline-block;">Office No. 18,2nd Floor,<br/> GNP Galleria, MIDC Road, <br/>Dombivli (E) 421 302.</div>
          
        </div>
        <div style="width: 35%; float:left; display: inline-block;">
          <div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; width: 80%; text-align:center; display: inline-block;"><img src="<%= swacha %>" width="150"/></div> 
        </div>
        <div style="width: 35%; float:left; display: inline-block;">
          <div style="color: #000; font-family: 'Arial', Arial, sans-serif; font-size:10px; width: 100%; text-align:right; display: inline-block;">Mob.: 9892151843<br/>E-mail: service@niserviceeng.com</div>
        </div>
      </div>
    </div>