<div style="padding: 0px; color: #000; font-family: 'Arial', Arial, sans-serif; font-size:8px;">
    <div style="display: table; width: 100%;">
    <div style="width:80%; display: inline-block; float: left;">
    <img src="<%= logoPath %>" width="80%" align="left">
    </div>
    <div style="width: 20%; display: inline-block; float: left;">
            <div style="width: 100%; display: inline-block;"><img src="<%= qrURL %>" style="float:right;" width="50px" align="left"></div>
    </div>
    </div>
    <div style="display: flex;  margin-top: 10px; width: 100%;">
            <div style="width: 30%; display: inline-block;">
            <div style=" width: 100%; text-align:left; display: inline-block;">Office No.18, 2nd Floor, GNP Galleria,<br/>MIDC Road, Dombivli (E) 421 302.<br/>Mob.: 9892151843<br/>E-mail : service@niserviceeng.com <br/></div>
            </div>
            <div style="width: 45%; display: inline-block;">
                <div style=" width: 100%; text-align:center; display: inline-block;"><strong><u>FIELD SERVICE REPORT</u></strong></div>
            </div>
            <div style="width: 20%; display: inline-block;">
                <div style="width: 100%; text-align:right; display: inline-block;margin-left:10px;">FSR No. : <%= serialNumber %> <br/><br/></br><span style="font-size:8px;">Date : <%= fsrDate %></span></div>
            </div>
        </div>     
    <div style="display: table;  margin-top: 10px; width: 100%;">
    <div style="width:100%; border:1px solid #000; display: table; float: left;">
    <div style="width:31%; padding:1%; float: left; display: inline-block;  line-height:12px;; color: #000;">Customer's Name & Location : <br/> <%= customerNameLocation %></div>
    <div style="width:64.8%; padding:1%; display: inline-block; border-left:1px solid #000; float: left;  line-height:12px;; color: #000;">
    <div style="width:100%; display: table; float: left;">
    <div style="width:18%; padding:0 0px 1% 0; display: inline-block;  float: left;">Contact Person : </div>
    <div style="width:30%; padding:0 3% 1% 0; display: inline-block;  float: left;"><div style="border-bottom:1px solid;"><%= contactPerson %></div></div>
    <div style="width:15%; padding:0 0px 1% 0; display: inline-block;  float: left;">Engr.Name : </div>
    <div style="width:33%; padding:0 0px 1% 0; display: inline-block;  float: left;"><div style="border-bottom:1px solid;"><%= employeeName %></div></div>
    </div>
    <div style="width:100%; display: table; float: left;">
    <div style="width:15%; padding:0 0px 1% 0; display: inline-block;  float: left;">Designation : </div>
    <div style="width:33%; padding:0 3% 1% 0; display: inline-block;  float: left;"><div style="border-bottom:1px solid;"><%= designation %></div></div>
    <div style="width:15%; padding:0 0px 1% 0; display: inline-block;  float: left;">Service Time : </div>
    <div style="width:33%; padding:0 0px 1% 0; display: inline-block;  float: left;"><div style="border-bottom:1px solid;"><%= fsrStartTime %> To <%= fsrEndTime %></div></div>
    </div>
    <div style="width:100%; display: table; float: left;">
    <div style="width:10%; padding:0 0px 0px 0; display: inline-block;  float: left;">Model : </div>
    <div style="width:15%; padding:0 2% 0px 0; display: inline-block;  float: left;"><div style="border-bottom:1px solid;"><%= model %></div></div>
    <div style="width:10%; padding:0 0px 0px 0; display: inline-block;  float: left;">SI. No. :</div>
    <div style="width:15%; padding:0 2% 0px 0; display: inline-block;  float: left;"><div style="border-bottom:1px solid;"><%= machineNumber %></div></div>
    <div style="width:22%; padding:0 0px 0px 0; display: inline-block;  float: left;">Complaint No. & Dt : </div>
    <div style="width:23%; padding:0 0px 0px 0; display: inline-block;  float: left;"><div style="border-bottom:1px solid;">-</div></div>
    </div>
    </div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:31%; padding:1%; float: left; display: inline-block;  line-height:12px;; color: #000;">Nature of Complaint :</div>
    <div style="width:64.8%; padding:1%; display: inline-block; border-left:1px solid #000; float: left;  line-height:12px; color: #000;">Nature of Call : <%= natureOfCall %></div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:33%; padding:0; float: left; display: inline-block;  line-height:12px; color: #000;">
    <div style="height:65px; width:96%; margin:2%"><%= complaintType %></div>
    <div style="width:98%; border-top:1px solid #000; border-bottom:1px solid #000; padding:1%; float: left; display: inline-block;  line-height:12px; color: #000;">Details of Actual fault & Service Performed</div>
    <div style="width:100%; border:0px solid #000; border-right:0px solid #000; padding:1%; float: left; display: inline-block;  line-height:12px; margin:1%; color: #000;"><%= serviceDetails %></div>
    <div style="width:80%; border:0px solid #000; padding:0px; float: left; display: inline-block;  line-height:12px;; color: #000;"></div>
    </div>
    <div style="width:66.8%; padding:0px; display: inline-block; border-left:1px solid #000; float: left;  line-height:12px; color: #000;">
    <div style="width:100%; display: table; float: left;">
    <div style="width:62%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  float: left;">Details of Parts Replaced</div>
    <div style="width:33%; border:1px solid #000; border-top:0px; border-right:0px; border-left:0px; padding:1%; display: inline-block;  float: left;">Chargeable</div>
    </div>
    <div style="width:100%; display: table; float: left;">
    <div style="width:25%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left;">Code No.</div>
    <div style="width:35%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left;">Item Description</div>
    <div style="width:5%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left;">Qty.</div>
    <div style="width:5%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left;">Y/N</div>
    <div style="width:8%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left;">Rate</div>
    <div style="width:9%; border:1px solid #000; border-top:0px; border-right:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left;">Amount</div>
    </div>
    <% for (let i = 0; i < maxLimit; i++) { %>
        <% if (productsUsed && productsUsed.length > 0 && productsUsed[i]) { %>
    <div style="width:100%; display: table; float: left;">
    <div style="width:25%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"><%= productsUsed[i].productCode %></div>
    <div style="width:35%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"><%=productsUsed[i].productName%></div>
    <div style="width:5%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"><%=productsUsed[i].quantityUsed%></div>
    <div style="width:5%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"><%=productsUsed[i].chargeable%></div>
    <div style="width:8%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"><%=productsUsed[i].rate%></div>
    <div style="width:8%; border:1px solid #000; border-top:0px; border-right:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"><%=productsUsed[i].amount%></div>
    </div>
    <% } else { %>
    <div style="width:100%; display: table; float: left;">
    <div style="width:25%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    <div style="width:35%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    <div style="width:5%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    <div style="width:5%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    <div style="width:8%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    <div style="width:9%; border:1px solid #000; border-top:0px; border-right:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    </div>
    <% } %>
    <% } %>
    
    <div style="width:100%; display: table; float: left;">
    <div style="width:62%; border:1px solid #000; border-bottom:0px; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:left; float: left; min-height:18px; min-height:145px;"> Remarks : <br/> <%= remark %></div>
    <div style="width:35%; display: table; float: left;">
    <div style="width:18.5%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    <div style="width:18.5%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    <div style="width:26%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
	<div style="width:27%; border:1px solid #000; border-top:0px; border-right:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    </div>
    <div style="width:35%; display: table; float: left;">
    <div style="width:18.5%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    <div style="width:18.5%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    <div style="width:26%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
	<div style="width:27%; border:1px solid #000; border-top:0px; border-right:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px;"></div>
    </div>
    <div style="width:35.7%; display: table; float: left;">
    <div style="width:38%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px; line-height:18px;">Service Visit</div>
    <div style="width:26%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px; line-height:18px;"></div>
    <div style="width:27%; border:1px solid #000; border-top:0px; border-right:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px; line-height:18px;"><%= serviceVisit %></div>
    </div>
    <div style="width:35.7%; display: table; float: left;">
    <div style="width:38%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px; line-height:18px;">GST</div>
    <div style="width:26%; border:1px solid #000; border-top:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px; line-height:18px;"><%= gstPercent %></div>
    <div style="width:27%; border:1px solid #000; border-top:0px; border-right:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px; line-height:18px;"><%= totalGSTAmount %></div>
    </div>
   
    <div style="width:35.7%; display: table; float: left;">
    <div style="width:38%; border:1px solid #000; border-top:0px; border-bottom:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px; line-height:18px;">Total</div>
    <div style="width:26%; border:1px solid #000; border-top:0px; border-bottom:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px; line-height:18px;"></div>
    <div style="width:27%; border:0px solid #000; border-top:0px; border-right:0px; border-left:0px; padding:1%; display: inline-block;  text-align:center; float: left; min-height:18px; line-height:18px;"><%= fsrFinalAmount %></div>
    </div>
    </div>
    </div>
    </div>
    <div style="width:100%; border:1px solid #000; border-top:0px; display: table; float: left;">
    <div style="width:33%; padding:0px; float: left; display: inline-block; line-height:12px; text-align:center; ">
    <div style="border-bottom:1px solid #000; padding:1% 0;">Corrective Action</div>
    <div style="border-bottom:1px solid #000; padding:1% 0; height:50px;"><%= correctiveAction %></div>
    <div style="border-bottom:1px solid #000;  float:left; width:100%">
    <div style="width:60%; padding:1%; float:left; text-align:left;">Status</div>
    <div style="width:30%; padding:1%; border-left:1px solid #000; float:left; text-align:left;">EDP Entry</div>
    </div>
    <div style=" float:left; width:100%;">
    <div style="width:60%; padding:1%; float:left; text-align:left;"><%= status %></div>
    <div style="width:30.5%; padding:1%; height:25px; border-left:1px solid #000; float:left; text-align:left;"></div>
    </div>
    <div style="  float:left; width:100%">
    <div style="width:60%; padding:1%; float:left; text-align:left;"></div>
    <div style="width:32%; padding:1%; border-bottom:1px solid #000; border-top:1px solid #000; border-left:1px solid #000; float:left; text-align:left;">Customer Code</div>
    </div>
    <div style="float:left; width:100%">
    <div style="width:60%; padding:1%;  float:left; text-align:left;"></div>
    <div style="width:30.5%; padding:1%; border-left:1px solid #000; height:25px; float:left; text-align:left;"><%= customerCode %></div>
    </div>
    </div>
    <div style="width:66.8%; padding:0%; display: inline-block; border-left:1px solid #000; float: left;  line-height:18px; color: #000;">
    <div style="width:96%; display: table; padding:2%; float: left;">
    Declaration, <br/>
    <div style="float:left; width:100%;"><span style="float:left;">I,Mr.</span> <span style="width:50%; float:left; border-bottom:1px solid;"> <%= customerName %> </span> <span style="float:left; width:45%">do hereby certify that the instrument has</span> </div>
    <div style="float:left; width:100%;"><span style="float:left; width:32%">been installed / inspected by</span> <span style="width:50%; float:left; border-bottom:1px solid;"><%= employeeName %></span> </div>
    <div style="float:left; width:100%;"><span style="float:left;">Mr.</span> <span style="width:50%; float:left; border-bottom:1px solid;"> <%= customerName %> </span> <span style="float:left; width:45%">please arrange to send your commercial</span></div>
     invoice immediately for the payment being settled by us for the mentioned amount.</span></div>
     <div style="width:96%; display: table; padding:2% 2% 0; float: left;">
     <div style="width:50%; display: table; padding:0; float: left;">
     <div><img src="<%= employeeSignature %>" width="100px"/></div>
    <div style="display: inline-block; "> Engr. Signature<br/>
    <span>NI SERVICE ENGINEERING PVT. LTD</span> </div>
     </div>
      <div style="width:50%; display: table; padding:0; float: left; text-align:right;">
       <div><img src="<%= customerSignature %>" width="100px"/></div>
    <div style="display: inline-block; text-align:right;"> Customer's Signature </div>
     </div>
     </div>
    </div>
    </div>
    </div>
    </div>
    </div>